In [74]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [92]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

In [76]:
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

id 변수 제거

In [77]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Overall Qual    1350 non-null   int64
 1   Gr Liv Area     1350 non-null   int64
 2   Exter Qual      1350 non-null   object
 3   Garage Cars     1350 non-null   int64
 4   Garage Area     1350 non-null   int64
 5   Kitchen Qual    1350 non-null   object
 6   Total Bsmt SF   1350 non-null   int64
 7   1st Flr SF      1350 non-null   int64
 8   Bsmt Qual       1350 non-null   object
 9   Full Bath       1350 non-null   int64
 10  Year Built      1350 non-null   int64
 11  Year Remod/Add  1350 non-null   int64
 12  Garage Yr Blt   1350 non-null   int64
 13  target          1350 non-null   int64
dtypes: int64(11), object(3)
memory usage: 147.8+ KB

In [78]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Overall Qual    1350 non-null   int64
 1   Gr Liv Area     1350 non-null   int64
 2   Exter Qual      1350 non-null   object
 3   Garage Cars     1350 non-null   int64
 4   Garage Area     1350 non-null   int64
 5   Kitchen Qual    1350 non-null   object
 6   Total Bsmt SF   1350 non-null   int64
 7   1st Flr SF      1350 non-null   int64
 8   Bsmt Qual       1350 non-null   object
 9   Full Bath       1350 non-null   int64
 10  Year Built      1350 non-null   int64
 11  Year Remod/Add  1350 non-null   int64
 12  Garage Yr Blt   1350 non-null   int64
dtypes: int64(10), object(3)
memory usage: 137.2+ KB

In [79]:
train.describe()

,Overall Qual,Gr Liv Area,Garage Cars,Garage Area,Total Bsmt SF,1st Flr SF,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
count,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000
mean,6.208889,1513.542222,1.870370,502.014815,1082.644444,1167.474074,1.560741,1972.987407,1985.099259,1978.471852,186406.312593
std,1.338015,487.523239,0.652483,191.389956,384.067713,375.061407,0.551646,29.307257,20.153244,25.377278,78435.424758
min,2.000000,480.000000,1.000000,100.000000,105.000000,480.000000,0.000000,1880.000000,1950.000000,1900.000000,12789.000000
25%,5.000000,1144.000000,1.000000,368.000000,816.000000,886.250000,1.000000,1955.000000,1968.000000,1961.000000,135000.000000
50%,6.000000,1445.500000,2.000000,484.000000,1009.000000,1092.500000,2.000000,1976.000000,1993.000000,1978.500000,165375.000000
75%,7.000000,1774.500000,2.000000,588.000000,1309.500000,1396.500000,2.000000,2002.000000,2004.000000,2002.000000,217875.000000
max,10.000000,4476.000000,5.000000,1488.000000,2660.000000,2898.000000,4.000000,2010.000000,2010.000000,2207.000000,745000.000000

In [80]:
test.describe()

,Overall Qual,Gr Liv Area,Garage Cars,Garage Area,Total Bsmt SF,1st Flr SF,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
count,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000,1350.000000
mean,6.237037,1524.071111,1.871852,499.867407,1101.222222,1175.714815,1.597778,1973.537778,1985.258519,1978.457037
std,1.370057,514.410852,0.651639,186.267579,431.641042,406.858231,0.549002,29.799448,20.818442,25.771750
min,2.000000,407.000000,1.000000,160.000000,173.000000,407.000000,0.000000,1879.000000,1950.000000,1895.000000
25%,5.000000,1169.750000,1.000000,365.250000,825.250000,887.250000,1.000000,1956.000000,1966.000000,1961.000000
50%,6.000000,1472.500000,2.000000,484.000000,1024.000000,1098.000000,2.000000,1976.000000,1995.000000,1982.000000
75%,7.000000,1742.250000,2.000000,578.750000,1338.750000,1409.500000,2.000000,2002.000000,2004.000000,2002.000000
max,10.000000,5642.000000,4.000000,1418.000000,6110.000000,5095.000000,4.000000,2010.000000,2010.000000,2010.000000

In [82]:
train = train[train['Garage Yr Blt'] < 2050]

### Target Encoding

- 다음 컬럼들은 변수 값별 target의 중위값으로 인코딩하였습니다.

In [85]:
cat_cols = ['Exter Qual', 'Kitchen Qual', 'Bsmt Qual']

In [86]:
for c in cat_cols :
    ord_df = train.groupby(c).target.median().reset_index(name = f'ord_{c}')
    train = pd.merge(train, ord_df, how = 'left')
    test = pd.merge(test, ord_df, how = 'left')

In [87]:
train.drop(cat_cols, axis = 1, inplace = True)
test.drop(cat_cols, axis = 1, inplace = True)

인코딩을 했기 때문에 기존 컬럼은 삭제합니다.

In [127]:
print(f'로그 변환 전 타겟 왜도 = {train.target.skew()} / 로그 변환 후 타겟 왜도 = {np.log1p(train.target).skew()}')

로그 변환 전 타겟 왜도 = 1.7175856695235343 / 로그 변환 후 타겟 왜도 = 0.08072456642342422

In [88]:
X = train.drop('target', axis = 1)
y = np.log1p(train.target)

target = test[X.columns]

예측 대상인 target 변수는 로그 변환시 왜도가 줄어들어 로그변환을 해주었습니다.

In [98]:
target.fillna(target.mean(), inplace = True)

타겟 인코딩을 하면서 결측값(1개)이 발생했기 때문에 평균 값으로 대치합니다.
***
## Modeling
- RandomForest, GradientBoosting, Catboost, NGBoost 4가지 모델을 사용했고 10FOLD로 앙상블했습니다.

#### 모델별로 10fold의 target 예측값을 만들어 평균 값을 취해주었습니다.

In [100]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from catboost import CatBoostRegressor, Pool
from ngboost import NGBRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import KFold

In [101]:
def NMAE(true, pred) -> float:
    mae = np.mean(np.abs(true - pred))
    score = mae / np.mean(np.abs(true))
    return score

In [ ]:
nmae_score = make_scorer(NMAE, greater_is_better=False)

In [102]:
kf = KFold(n_splits = 10, random_state = 42, shuffle = True)

#### RandomForest

In [138]:
rf_pred = np.zeros(target.shape[0])
rf_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    rf = RandomForestRegressor(random_state = 42, criterion = 'mae')
    rf.fit(tr_x, tr_y)
    
    val_pred = np.expm1(rf.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    rf_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    fold_pred = rf.predict(target) / 10
    rf_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(rf_val)} & std = {np.std(rf_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.09368698156423985

2 FOLD Training.....
2 FOLD NMAE = 0.11364409590276257

3 FOLD Training.....
3 FOLD NMAE = 0.09442517917188785

4 FOLD Training.....
4 FOLD NMAE = 0.10951429437846574

5 FOLD Training.....
5 FOLD NMAE = 0.0898527550293215

6 FOLD Training.....
6 FOLD NMAE = 0.0998867074895177

7 FOLD Training.....
7 FOLD NMAE = 0.08960230649097915

8 FOLD Training.....
8 FOLD NMAE = 0.10569501920345062

9 FOLD Training.....
9 FOLD NMAE = 0.09527452116714286

10 FOLD Training.....
10 FOLD NMAE = 0.10044458008293747

10FOLD Mean of NMAE = 0.09920264404807053 & std = 0.007793014216539946

#### GradientBoosting

In [133]:
gbr_pred = np.zeros(target.shape[0])
gbr_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    gbr = GradientBoostingRegressor(random_state = 42, max_depth = 4, learning_rate = 0.05, n_estimators = 1000)
    gbr.fit(tr_x, tr_y)
    
    val_pred = np.expm1(gbr.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    gbr_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    fold_pred = gbr.predict(target) / 10
    gbr_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(gbr_val)} & std = {np.std(gbr_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.09367372438745104

2 FOLD Training.....
2 FOLD NMAE = 0.10452949253790084

3 FOLD Training.....
3 FOLD NMAE = 0.0822404359570606

4 FOLD Training.....
4 FOLD NMAE = 0.10848179566764837

5 FOLD Training.....
5 FOLD NMAE = 0.09544021807976989

6 FOLD Training.....
6 FOLD NMAE = 0.09940533669629993

7 FOLD Training.....
7 FOLD NMAE = 0.0887301932752426

8 FOLD Training.....
8 FOLD NMAE = 0.10423773655894364

9 FOLD Training.....
9 FOLD NMAE = 0.10540905806087426

10 FOLD Training.....
10 FOLD NMAE = 0.0939495270409796

10FOLD Mean of NMAE = 0.09760975182621709 & std = 0.007891302159289525

#### CatBoost

In [116]:
cb_pred = np.zeros(target.shape[0])
cb_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    tr_data = Pool(data = tr_x, label = tr_y)
    val_data = Pool(data = val_x, label = val_y)
    
    cb = CatBoostRegressor(depth = 4, random_state = 42, loss_function = 'MAE', n_estimators = 3000, learning_rate = 0.03, verbose = 0)
    cb.fit(tr_data, eval_set = val_data, early_stopping_rounds = 750, verbose = 1000)
    
    val_pred = np.expm1(cb.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    cb_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    target_data = Pool(data = target, label = None)
    fold_pred = cb.predict(target) / 10
    cb_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(cb_val)} & std = {np.std(cb_val)}')

1 FOLD Training.....
0:	learn: 0.2928192	test: 189506.6733447	best: 189506.6733447 (0)	total: 1.74ms	remaining: 5.22s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 189506.5933
bestIteration = 182

Shrink model to first 183 iterations.
1 FOLD NMAE = 0.09777341102660746

2 FOLD Training.....
0:	learn: 0.2929645	test: 186991.7521093	best: 186991.7521093 (0)	total: 414us	remaining: 1.24s
1000:	learn: 0.0677636	test: 186991.7205303	best: 186991.7187119 (578)	total: 519ms	remaining: 1.04s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 186991.7187
bestIteration = 578

Shrink model to first 579 iterations.
2 FOLD NMAE = 0.10260214892787216

3 FOLD Training.....
0:	learn: 0.2919462	test: 176765.4793246	best: 176765.4793246 (0)	total: 1.26ms	remaining: 3.78s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 176765.4658
bestIteration = 66

Shrink model to first 67 iterations.
3 FOLD NMAE = 0.12234936741494888

4 FOLD Training.....
0:	learn: 0.2928466	test: 187437.9592515	best: 187437.9592515 (0)	total: 426us	remaining: 1.28s
1000:	learn: 0.0680655	test: 187437.9124453	best: 187437.9117464 (564)	total: 525ms	remaining: 1.05s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 187437.9117
bestIteration = 564

Shrink model to first 565 iterations.
4 FOLD NMAE = 0.10216496915878984

5 FOLD Training.....
0:	learn: 0.2888456	test: 192915.6544942	best: 192915.6544942 (0)	total: 625us	remaining: 1.88s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 192915.6008
bestIteration = 198

Shrink model to first 199 iterations.
5 FOLD NMAE = 0.10200876686264962

6 FOLD Training.....
0:	learn: 0.2898561	test: 188506.9523046	best: 188506.9523046 (0)	total: 549us	remaining: 1.65s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 188506.8951
bestIteration = 151

Shrink model to first 152 iterations.
6 FOLD NMAE = 0.08405276281785276

7 FOLD Training.....
0:	learn: 0.2932652	test: 194497.7718628	best: 194497.7718628 (0)	total: 419us	remaining: 1.26s
1000:	learn: 0.0669996	test: 194497.6730782	best: 194497.6720627 (479)	total: 519ms	remaining: 1.03s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 194497.6721
bestIteration = 479

Shrink model to first 480 iterations.
7 FOLD NMAE = 0.08901641687559723

8 FOLD Training.....
0:	learn: 0.2939647	test: 174503.5921733	best: 174503.5921733 (0)	total: 453us	remaining: 1.36s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 174503.5699
bestIteration = 60

Shrink model to first 61 iterations.
8 FOLD NMAE = 0.1336428807901599

9 FOLD Training.....
0:	learn: 0.2913289	test: 181768.1424972	best: 181768.1424972 (0)	total: 416us	remaining: 1.25s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 181768.1017
bestIteration = 92

Shrink model to first 93 iterations.
9 FOLD NMAE = 0.11803267930641798

10 FOLD Training.....
0:	learn: 0.2900080	test: 190480.0213943	best: 190480.0213943 (0)	total: 406us	remaining: 1.22s
1000:	learn: 0.0669407	test: 190479.9406481	best: 190479.9405925 (994)	total: 524ms	remaining: 1.04s
Stopped by overfitting detector  (750 iterations wait)

bestTest = 190479.9405
bestIteration = 1105

Shrink model to first 1106 iterations.
10 FOLD NMAE = 0.10060124889099538

10FOLD Mean of NMAE = 0.10522446520718912 & std = 0.01441988520465959

#### NGBoost

In [132]:
ngb_pred = np.zeros(target.shape[0])
ngb_val = []
for n, (tr_idx, val_idx) in enumerate(kf.split(X, y)) :
    print(f'{n + 1} FOLD Training.....')
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], np.expm1(y.iloc[val_idx])
    
    ngb = NGBRegressor(random_state = 42, n_estimators = 1000, verbose = 0, learning_rate = 0.03)
    ngb.fit(tr_x, tr_y, val_x, val_y, early_stopping_rounds = 300)
    
    val_pred = np.expm1(ngb.predict(val_x))
    val_nmae = NMAE(val_y, val_pred)
    ngb_val.append(val_nmae)
    print(f'{n + 1} FOLD NMAE = {val_nmae}\n')
    
    target_data = Pool(data = target, label = None)
    fold_pred = ngb.predict(target) / 10
    ngb_pred += fold_pred
print(f'10FOLD Mean of NMAE = {np.mean(ngb_val)} & std = {np.std(ngb_val)}')

1 FOLD Training.....
1 FOLD NMAE = 0.09139105186947728

2 FOLD Training.....
2 FOLD NMAE = 0.10448077875173191

3 FOLD Training.....
3 FOLD NMAE = 0.08945836397438957

4 FOLD Training.....
4 FOLD NMAE = 0.10370500824408162

5 FOLD Training.....
5 FOLD NMAE = 0.08751314747354343

6 FOLD Training.....
6 FOLD NMAE = 0.0988802288811046

7 FOLD Training.....
7 FOLD NMAE = 0.09021976165753566

8 FOLD Training.....
8 FOLD NMAE = 0.09901283897320236

9 FOLD Training.....
9 FOLD NMAE = 0.10069763690666884

10 FOLD Training.....
10 FOLD NMAE = 0.09603712543190125

10FOLD Mean of NMAE = 0.09613959421636366 & std = 0.0058310480068190906

In [140]:
(ngb_pred + cb_pred + rf_pred + gbr_pred) / 4

array([12.71934207, 11.76947926, 12.07734597, ..., 11.28888927,
       12.18784488, 11.86900045])

각 모델이 10fold마다 만든 예측값의 산술평균입니다.

총 모델이 10(fold 수) * 4(모델 수) = 40개가 만들어졌고 각 모델이 예측한 값의 평균을 최종 예측값으로 사용했다고 생각하시면 됩니다.

In [141]:
submission['target'] = np.expm1((ngb_pred + cb_pred + rf_pred + gbr_pred) / 4)

로그 변환된 값을 지수변환을 통해 원래의 값으로 복원하여 target값으로 지정합니다.

In [142]:
submission.to_csv('1st.csv', index = False)