In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

In [3]:
train.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
1,2,52,1,3,152,298,1,1,178,0,1.2,1,0,3,1
2,3,54,1,1,192,283,0,0,195,0,0.0,2,1,3,0
3,4,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
4,5,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1

In [4]:
test.head()

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,1,57,1,0,150,276,0,0,112,1,0.6,1,1,1
1,2,59,1,3,170,288,0,0,159,0,0.2,1,0,3
2,3,57,1,2,150,126,1,1,173,0,0.2,2,1,3
3,4,56,0,0,134,409,0,0,150,1,1.9,1,2,3
4,5,71,0,2,110,265,1,0,130,0,0.0,2,1,2

In [4]:
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

In [6]:
train.target.value_counts()

1    83
0    68
Name: target, dtype: int64

In [52]:
train.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,54.496689,0.682119,1.066225,132.033113,244.529801,0.158940,0.509934,150.629139,0.324503,0.976821,1.377483,0.602649,2.317881,0.549669
std,8.904586,0.467202,1.056213,17.909929,56.332206,0.366837,0.514685,23.466463,0.469747,1.085998,0.640226,0.917093,0.604107,0.499183
min,34.000000,0.000000,0.000000,94.000000,131.000000,0.000000,0.000000,88.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.500000,0.000000,0.000000,120.000000,208.000000,0.000000,0.000000,136.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,54.000000,1.000000,1.000000,130.000000,239.000000,0.000000,1.000000,155.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,270.000000,0.000000,1.000000,168.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,192.000000,564.000000,1.000000,2.000000,195.000000,1.000000,5.600000,2.000000,3.000000,3.000000,1.000000

In [53]:
test.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000
mean,54.236842,0.684211,0.868421,131.217105,247.986842,0.138158,0.546053,148.671053,0.328947,1.101974,1.421053,0.855263,2.309211
std,9.282710,0.466366,1.001219,17.210392,47.059071,0.346206,0.537825,22.368313,0.471384,1.231564,0.592741,1.106321,0.622253
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,46.000000,0.000000,0.000000,120.000000,213.750000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,56.000000,1.000000,0.000000,130.000000,242.500000,0.000000,1.000000,151.500000,0.000000,0.750000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,282.000000,0.000000,1.000000,164.250000,1.000000,1.800000,2.000000,1.250000,3.000000
max,76.000000,1.000000,3.000000,200.000000,409.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000

In [7]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from catboost import CatBoostClassifier, Pool
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV, LeaveOneOut, cross_val_score

In [8]:
skf = StratifiedKFold(n_splits = 10, random_state = 42, shuffle = True)

In [9]:
X = train.drop('target', axis = 1)
y = train.target

In [10]:
target = test.copy()

In [12]:
X.shape, target.shape

((151, 13), (152, 13))

In [13]:
X.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'],
      dtype='object')

In [14]:
target.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal'],
      dtype='object')

In [26]:
cat_cols = ['cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']

In [27]:
cb_pred = np.zeros(target.shape[0])
cb_f1 = 0
for tr_idx, val_idx in skf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    tr_data = Pool(data = tr_x, label = tr_y, cat_features = cat_cols)
    val_data = Pool(data = val_x, label = val_y, cat_features = cat_cols)
    
    cb = CatBoostClassifier(random_state = 42, verbose = 0, n_estimators = 1000, max_depth = 3)
    cb.fit(tr_data, eval_set = val_data, early_stopping_rounds = 200, verbose = 250)
    
    val_pred = cb.predict(val_x)
    val_f1 = f1_score(val_y, val_pred) / 10
    cb_f1 += val_f1
    
    fold_pred = cb.predict_proba(target)[:, 1] / 10
    cb_pred += fold_pred
print(f'\n{np.mean(cb_f1)}')

Learning rate set to 0.019324
0:	learn: 0.6856124	test: 0.6834875	best: 0.6834875 (0)	total: 60.8ms	remaining: 1m
250:	learn: 0.2383101	test: 0.3181395	best: 0.3179631 (248)	total: 238ms	remaining: 711ms
500:	learn: 0.1516871	test: 0.3124296	best: 0.3018099 (433)	total: 387ms	remaining: 385ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3018098982
bestIteration = 433

Shrink model to first 434 iterations.
Learning rate set to 0.019359
0:	learn: 0.6751107	test: 0.6813990	best: 0.6813990 (0)	total: 1.4ms	remaining: 1.4s
250:	learn: 0.1967923	test: 0.6646999	best: 0.5671586 (86)	total: 157ms	remaining: 468ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.5671585778
bestIteration = 86

Shrink model to first 87 iterations.
Learning rate set to 0.019359
0:	learn: 0.6901976	test: 0.6918860	best: 0.6918860 (0)	total: 923us	remaining: 923ms
250:	learn: 0.2315876	test: 0.2368862	best: 0.2367444 (245)	total: 154ms	remaining: 459ms
500:	learn: 0.1478187	test: 0.1812012	best: 0.1811577 (497)	total: 306ms	remaining: 305ms
750:	learn: 0.1001910	test: 0.1577834	best: 0.1575353 (724)	total: 459ms	remaining: 152ms
999:	learn: 0.0704203	test: 0.1449822	best: 0.1438495 (987)	total: 614ms	remaining: 0us

bestTest = 0.1438495018
bestIteration = 987

Shrink model to first 988 iterations.
Learning rate set to 0.019359
0:	learn: 0.6818424	test: 0.6757548	best: 0.6757548 (0)	total: 710us	remaining: 709ms
250:	learn: 0.2463279	test: 0.1628619	best: 0.1628619 (250)	total: 150ms	remaining: 449ms
500:	learn: 0.1643749	test: 0.1290327	best: 0.1290327 (500)	total: 302ms	remaining: 301ms
750:	learn: 0.1078956	test: 0.1131953	best: 0.1131953 (750)	total: 455ms	remaining: 151ms
999:	learn: 0.0764972	test: 0.1017496	best: 0.1017496 (999)	total: 626ms	remaining: 0us

bestTest = 0.1017495805
bestIteration = 999

Learning rate set to 0.019359
0:	learn: 0.6857825	test: 0.6880242	best: 0.6880242 (0)	total: 692us	remaining: 692ms
250:	learn: 0.2451675	test: 0.2847284	best: 0.2804066 (237)	total: 157ms	remaining: 470ms
500:	learn: 0.1730324	test: 0.2356028	best: 0.2347245 (492)	total: 315ms	remaining: 314ms
750:	learn: 0.1177872	test: 0.2070749	best: 0.2055091 (744)	total: 473ms	remaining: 157ms
999:	learn: 0.0817165	test: 0.1826425	best: 0.1811346 (991)	total: 639ms	remaining: 0us

bestTest = 0.1811346287
bestIteration = 991

Shrink model to first 992 iterations.
Learning rate set to 0.019359
0:	learn: 0.6757491	test: 0.6837196	best: 0.6837196 (0)	total: 845us	remaining: 845ms
250:	learn: 0.2261478	test: 0.4311956	best: 0.4309326 (245)	total: 161ms	remaining: 480ms
500:	learn: 0.1445101	test: 0.4375037	best: 0.4287557 (303)	total: 325ms	remaining: 324ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4287556956
bestIteration = 303

Shrink model to first 304 iterations.
Learning rate set to 0.019359
0:	learn: 0.6843801	test: 0.6873340	best: 0.6873340 (0)	total: 732us	remaining: 732ms
250:	learn: 0.2245408	test: 0.3939137	best: 0.3920465 (234)	total: 153ms	remaining: 457ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3841280628
bestIteration = 291

Shrink model to first 292 iterations.
Learning rate set to 0.019359
0:	learn: 0.6782007	test: 0.6882665	best: 0.6882665 (0)	total: 699us	remaining: 699ms
250:	learn: 0.2073489	test: 0.4647264	best: 0.4631351 (241)	total: 145ms	remaining: 434ms
500:	learn: 0.1401231	test: 0.4542351	best: 0.4515439 (330)	total: 290ms	remaining: 289ms
750:	learn: 0.0936862	test: 0.4389586	best: 0.4351352 (606)	total: 436ms	remaining: 145ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.4351351645
bestIteration = 606

Shrink model to first 607 iterations.
Learning rate set to 0.019359
0:	learn: 0.6832129	test: 0.6869629	best: 0.6869629 (0)	total: 1.48ms	remaining: 1.48s
250:	learn: 0.2044201	test: 0.5757367	best: 0.5423539 (97)	total: 148ms	remaining: 442ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.5423538781
bestIteration = 97

Shrink model to first 98 iterations.
Learning rate set to 0.019359
0:	learn: 0.6765460	test: 0.6766127	best: 0.6766127 (0)	total: 605us	remaining: 605ms
250:	learn: 0.2015717	test: 0.3521966	best: 0.3517695 (245)	total: 149ms	remaining: 444ms
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.3501672698
bestIteration = 274

Shrink model to first 275 iterations.

0.8625257997936018

In [34]:
final_pred = [1 if p >= 0.5 else 0 for p in cb_pred]

In [23]:
submission.target = final_pred

In [25]:
submission.to_csv("20211215_1st.csv", index = False)