In [982]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [983]:
train = pd.read_csv('FIFA_train.csv')
test = pd.read_csv('FIFA_test.csv')
submission = pd.read_csv('submission.csv')

In [984]:
train.head()

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,south america,2021,ST,left,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,europe,2020,GK,right,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,south america,2021,ST,right,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,europe,2020,DF,right,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,europe,2021,GK,right,3.0,90,93,1.0,68000000.0

In [985]:
test.head()

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves
0,1,Cristiano Ronaldo,33,europe,2022,ST,right,5.0,94,94,5.0
1,2,Neymar Jr,26,south america,2022,ST,right,5.0,92,93,5.0
2,4,K. De Bruyne,27,europe,2023,MF,right,4.0,91,92,4.0
3,5,E. Hazard,27,europe,2020,ST,right,4.0,91,91,4.0
4,6,L. Modrić,32,europe,2020,MF,right,4.0,91,91,4.0

In [986]:
submission.head()

   id  value
0   1      0
1   2      0
2   4      0
3   5      0
4   6      0

In [987]:
def con_period(x):
    if x == 'Dec 31, 2018' :
        return '2019'
    elif x == 'Jun 30, 2020' :
        return '2020.5'
    elif x == 'Jun 30, 2019' :
        return '2019.5'
    elif x == 'May 31, 2020' :
        return '2020.3333'
    elif x == 'May 31, 2019' :
        return '2019.3333'
    elif x == 'Jan 31, 2019' :
        return '2019.0833'
    elif x == 'Jan 1, 2019' :
        return '2019'
    elif x == 'Jan 12, 2019' :
        return '2019.034'
    elif x == 'Dec 31, 2019' :
        return '2020'
    elif x == 'Jun 1, 2019' :
        return '2019.416'
    else :
        return x

In [988]:
train.contract_until = train.contract_until.apply(con_period).astype('float64') - 2018
test.contract_until = test.contract_until.apply(con_period).astype('float64') - 2018

***

In [989]:
train[['age', 'stat_potential']] = np.log1p(train[['age', 'stat_potential']])
test[['age', 'stat_potential']] = np.log1p(test[['age', 'stat_potential']])

In [954]:
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.model_selection import KFold
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from ngboost import NGBRegressor

In [993]:
X = train[['age', 'continent', 'contract_until', 'position', 'reputation', 'stat_overall', 'stat_potential', 'stat_skill_moves']]
y = np.log1p(train['value'])

In [994]:
X = pd.get_dummies(columns = ['continent', 'position'], data = X)

In [995]:
target = test[['age', 'continent', 'contract_until', 'position', 'reputation', 'stat_overall', 'stat_potential', 'stat_skill_moves']]

In [996]:
target = pd.get_dummies(columns = ['continent', 'position'], data = target)

In [997]:
kf = KFold(n_splits = 10, random_state = 521, shuffle = True)

In [998]:
ngb = NGBRegressor(random_state = 521, verbose = 500)

In [999]:
ngb_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    ngb.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in ngb.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in ngb.predict(target)]) / 10
    ngb_pred += sub_pred
print(f'{ngb.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

[iter 0] loss=1.7562 val_loss=0.0000 scale=1.0000 norm=1.2861
[iter 100] loss=0.7611 val_loss=0.0000 scale=2.0000 norm=1.1141
[iter 200] loss=-0.1028 val_loss=0.0000 scale=2.0000 norm=0.9194
[iter 300] loss=-0.7609 val_loss=0.0000 scale=2.0000 norm=0.8144
[iter 400] loss=-1.0723 val_loss=0.0000 scale=2.0000 norm=0.8506
[iter 0] loss=-1.1726 val_loss=0.0000 scale=1.0000 norm=0.4586
[iter 100] loss=-1.2323 val_loss=0.0000 scale=1.0000 norm=0.4657
[iter 200] loss=-1.2812 val_loss=0.0000 scale=2.0000 norm=0.9450
[iter 300] loss=-1.3138 val_loss=0.0000 scale=1.0000 norm=0.4786
[iter 400] loss=-1.3440 val_loss=0.0000 scale=2.0000 norm=0.9632
[iter 0] loss=-1.3287 val_loss=0.0000 scale=1.0000 norm=0.5064
[iter 100] loss=-1.3754 val_loss=0.0000 scale=1.0000 norm=0.4871
[iter 200] loss=-1.3940 val_loss=0.0000 scale=1.0000 norm=0.4878
[iter 300] loss=-1.4122 val_loss=0.0000 scale=1.0000 norm=0.4883
[iter 400] loss=-1.4325 val_loss=0.0000 scale=2.0000 norm=0.9745
[iter 0] loss=-1.4234 val_loss=0.0000 scale=1.0000 norm=0.5049
[iter 100] loss=-1.4574 val_loss=0.0000 scale=1.0000 norm=0.4877
[iter 200] loss=-1.4693 val_loss=0.0000 scale=1.0000 norm=0.4887
[iter 300] loss=-1.4827 val_loss=0.0000 scale=1.0000 norm=0.4868
[iter 400] loss=-1.4943 val_loss=0.0000 scale=1.0000 norm=0.4872
[iter 0] loss=-1.4968 val_loss=0.0000 scale=1.0000 norm=0.4852
[iter 100] loss=-1.5193 val_loss=0.0000 scale=1.0000 norm=0.4815
[iter 200] loss=-1.5297 val_loss=0.0000 scale=1.0000 norm=0.4839
[iter 300] loss=-1.5360 val_loss=0.0000 scale=1.0000 norm=0.4860
[iter 400] loss=-1.5432 val_loss=0.0000 scale=1.0000 norm=0.4870
[iter 0] loss=-1.5469 val_loss=0.0000 scale=1.0000 norm=0.4927
[iter 100] loss=-1.5581 val_loss=0.0000 scale=1.0000 norm=0.4883
[iter 200] loss=-1.5682 val_loss=0.0000 scale=1.0000 norm=0.4874
[iter 300] loss=-1.5766 val_loss=0.0000 scale=1.0000 norm=0.4878
[iter 400] loss=-1.5832 val_loss=0.0000 scale=2.0000 norm=0.9753
[iter 0] loss=-1.5552 val_loss=0.0000 scale=1.0000 norm=0.5065
[iter 100] loss=-1.5824 val_loss=0.0000 scale=1.0000 norm=0.4885
[iter 200] loss=-1.5934 val_loss=0.0000 scale=1.0000 norm=0.4872
[iter 300] loss=-1.6022 val_loss=0.0000 scale=1.0000 norm=0.4867
[iter 400] loss=-1.6089 val_loss=0.0000 scale=1.0000 norm=0.4872
[iter 0] loss=-1.5934 val_loss=0.0000 scale=1.0000 norm=0.4995
[iter 100] loss=-1.6338 val_loss=0.0000 scale=1.0000 norm=0.4819
[iter 200] loss=-1.6444 val_loss=0.0000 scale=1.0000 norm=0.4851
[iter 300] loss=-1.6502 val_loss=0.0000 scale=1.0000 norm=0.4875
[iter 400] loss=-1.6557 val_loss=0.0000 scale=1.0000 norm=0.4886
[iter 0] loss=-1.5779 val_loss=0.0000 scale=2.0000 norm=1.0914
[iter 100] loss=-1.6535 val_loss=0.0000 scale=1.0000 norm=0.4869
[iter 200] loss=-1.6639 val_loss=0.0000 scale=0.5000 norm=0.2434
[iter 300] loss=-1.6687 val_loss=0.0000 scale=0.5000 norm=0.2437
[iter 400] loss=-1.6730 val_loss=0.0000 scale=1.0000 norm=0.4878
[iter 0] loss=-1.6708 val_loss=0.0000 scale=1.0000 norm=0.4888
[iter 100] loss=-1.6829 val_loss=0.0000 scale=1.0000 norm=0.4874
[iter 200] loss=-1.6888 val_loss=0.0000 scale=1.0000 norm=0.4882
[iter 300] loss=-1.6927 val_loss=0.0000 scale=1.0000 norm=0.4887
[iter 400] loss=-1.6976 val_loss=0.0000 scale=0.5000 norm=0.2445
NGBRegressor의 10fold 평균 RMSE는 379793.1340233703

In [1000]:
rf = RandomForestRegressor(random_state = 521)

In [1001]:
rf_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in rf.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in rf.predict(target)]) / 10
    rf_pred += sub_pred
print(f'{rf.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

RandomForestRegressor의 10fold 평균 RMSE는 818608.1268230207

In [1002]:
etc = ExtraTreesRegressor(random_state = 521)

In [1003]:
etc_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    etc.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in etc.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in etc.predict(target)]) / 10
    etc_pred += sub_pred
print(f'{etc.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

ExtraTreesRegressor의 10fold 평균 RMSE는 753527.5663820731

In [1004]:
gb = GradientBoostingRegressor(random_state = 521)

In [1005]:
gb_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    gb.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in gb.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in gb.predict(target)]) / 10
    gb_pred += sub_pred
print(f'{gb.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

GradientBoostingRegressor의 10fold 평균 RMSE는 673280.4351016378

In [1006]:
cb = CatBoostRegressor(random_state = 521, silent = True)

In [1007]:
cb_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    cb.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in cb.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in cb.predict(target)]) / 10
    cb_pred += sub_pred
print(f'{cb.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

CatBoostRegressor의 10fold 평균 RMSE는 459730.6344652243

In [1008]:
lgbm = LGBMRegressor(random_state = 521)

In [1009]:
lgbm_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(target)]) / 10
    lgbm_pred += sub_pred
print(f'{lgbm.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

LGBMRegressor의 10fold 평균 RMSE는 659187.9919374583

In [1010]:
xgb = XGBRegressor(random_state = 521)

In [1011]:
xgb_pred = np.zeros((target.shape[0]))
rmse_list = []
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb.fit(tr_x, tr_y)
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(val_x)])

    rmse = np.sqrt(mean_squared_error(np.expm1(val_y), pred))
    rmse_list.append(rmse)
    
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(target)]) / 10
    xgb_pred += sub_pred
print(f'{xgb.__class__.__name__}의 10fold 평균 RMSE는 {np.mean(rmse_list)}')

XGBRegressor의 10fold 평균 RMSE는 673765.6893666459

In [1013]:
submission['value'] = (gb_pred + rf_pred + etc_pred + lgbm_pred + cb_pred + ngb_pred + xgb_pred) / 7

In [1014]:
q1 = submission['value'].quantile(0.0042)
q2 = submission['value'].quantile(0.99)

submission['value'] = submission['value'].apply(lambda x: x if x > q1 else x * 0.77)
submission['value'] = submission['value'].apply(lambda x: x if x < q2 else x * 1.1)

In [1015]:
submission

         id         value
0         1  6.302336e+07
1         2  1.008687e+08
2         4  8.344811e+07
3         5  8.828618e+07
4         6  6.683345e+07
...     ...           ...
3823  16924  5.819692e+04
3824  16929  5.011326e+04
3825  16932  5.923067e+04
3826  16937  5.043323e+04
3827  16943  5.038639e+04

[3828 rows x 2 columns]

In [1016]:
submission.to_csv('fifa0520.csv', index = False)